h1 
{
    font-family: 'Pixelify Sans', sans-serif;
    position: absolute;
    bottom: -50px;
    left: 300px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 73px;
    background-color: rgba(0, 0, 0, 0.842);
}

.bakgrunnsbilde {
    height: 600px;
    z-index: -1;
    width: 100%;
    margin-top: 50px;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: inset;
    border-color:rgb(37, 108, 240);
}

body {
    background-color: rgb(9, 26, 48);
}